name: build

on:
  push:
    branches: [ master ]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: texlive texlive-base texlive-latex-extra texlive-fonts-extra
          version: 1.0

      - name: Update APT-List
        run: sudo apt-get update

      - name: Install tex-live
        run: sudo apt-get install --fix-missing -y texlive texlive-base texlive-latex-extra texlive-fonts-extra

      - name: Build
        run: ./scripts/testall.sh
